@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.product {
  width: 100%;
  height: 160px;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
  position: relative;
  transition: box-shadow 300ms;
}
.product:hover {
  box-shadow: 3px 3px 5px rgba(6, 0, 133, 0.2);
}
@media screen and (min-width: 220px) {
  .product {
    flex-direction: row;
    margin: 0;
  }
}
@media screen and (min-width: 678px) {
  .product {
    width: 275px;
  }
}
@media screen and (min-width: 368px) {
  .product {
    width: 225px;
  }
}

.product .image {
  max-width: 4rem;
}

.product .left-side {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product .right-side {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.setting-icon {
  font-size: 1.5rem;
  color: #87b663;
  transition: transform 500ms ease-out;
}

.setting-icon:hover {
  transform: rotate(180deg);
}

.setting-icon-container {
  cursor: pointer;
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
}

.setting-modal-container {
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 0.3rem;
  bottom: 0.3rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 11rem;
  padding: 0.5rem 0;
  transform: scaleX(0);
  transform-origin: left;
  border: thin solid hsl(240, 11%, 91%);
  transition: transform 300ms ease-out;
}

.show-setting-modal {
  transform: scaleX(1);
}

.setting-modal-btn {
  cursor: pointer;
  font-size: 1.02rem;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  width: 8rem;
  border: none;
  border-radius: 2px;
  transition: background-color 300ms, color 300ms;
}

.edit-btn {
  color: hsl(243, 37%, 25%);
  background-color: hsl(50, 98%, 74%);
}

.edit-btn:hover {
  background-color: hsl(50, 98%, 50%);
}

.delete-btn {
  color: hsl(4, 84%, 56%);
  background-color: hsl(0, 0%, 100%);
  border: thin solid hsl(4, 84%, 56%);
}

.delete-btn:hover {
  color: hsl(240, 100%, 98%);
  background-color: hsl(4, 84%, 56%);
}

@media screen and (min-width: 678px) {
  .product .left-side {
    padding: 0;
    width: 123px;
  }
  .product .right-side {
    padding: 0;
    width: 150px;
  }
  .product-setting-icon {
    font-size: 1.2rem;
  }
  .setting-icon-container {
    top: 0.5rem;
    right: 0.5rem;
  }
  .setting-modal-container {
    top: 0.3rem;
    left: 0;
    width: 11rem;
    padding: 0.5rem 0;
  }
}

.left-side .name {
  color: hsl(240, 100%, 98%);
  font-weight: 400;
  margin-top: 0.5rem;
  text-align: center;
}

.weight .amount {
  font-size: 1.5rem;
  font-weight: 600;
}

.weight .amount i {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 200;
  margin-left: 0.2rem;
}

.weight .reste {
  font-size: 0.9rem;
  font-weight: 200;
}

.tableProducts {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.warning-home-negocio {
  background-color: hsla(37, 91%, 55%, 0.2);
}

.danger-home-negocio {
  background-color: hsla(339, 90%, 51%, 0.2);
}
